:root > * {
    margin: 0;
}

body{
    background-image: linear-gradient(purple, black);
    background-repeat: no-repeat;

    height: 100vh;

    color: white;

}


.container > * {
    border-radius: 10px;
    border: solid 4px rgb(165, 57, 165);

}


.container{
    display: grid;
    
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;

    height: 100%;


}

.header{
    grid-area: 1 / 2 / 1 / -1;
}

.sidebar{
    grid-area: 1 / 1 / -1 / 1;
}

.content{
    resize: both;
    overflow: auto;

    display: grid;
    gap: 15px;

    grid-area: 2 / 2 / -1 / -2;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;

}

.item{
    box-shadow: inset 10px 10px 20px black;
    border-radius: 10px;
    border: solid 2px purple;
}

.announcements{
    grid-area: 2 / 4 / 3 / -1;
}

.trending{
    grid-area: 3 / 4 / 3 / 4;
}